---
# tasks file for homebrew-setup
- name: Verify if homebrew has been installed
  stat:
    path: "/usr/local/bin/brew"
  register: homebrew_exists

- name: Install homebrew
  shell:  'yes | /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"'
  become: false
  when: not homebrew_exists.stat.exists

- name: Updating Homebrew
  homebrew:
    update_homebrew: true
  when: homebrew_exists.stat.exists

- name: Add brew taps
  shell: brew tap "{{ item }}"
  with_items: '{{ brew_taps }}'
  changed_when: false

- name: Installing High Dependency Casks
  homebrew_cask:
    name: "{{ item }}"
    state: "present"
    install_options: 'appdir=/Applications'
  with_items: '{{ brew_high_dependency_casks }}'

- name: Installing Homebrew Packages
  homebrew:
    name: "{{ brew_packages }}"
    state: "present"
    upgrade_all: false

- name: Installing Homebrew Cask Packages
  homebrew_cask:
    name: "{{ item }}"
    state: "present"
    install_options: 'appdir=/Applications'
  with_items: '{{ brew_cask_packages }}'

- name: Cleaning up homebrew
  shell: brew cleanup
